* {
padding: 0%;
margin: 0%;
}

img {
  display: block;
  max-width: 70%;
  margin: 0 auto 2rem auto;
  margin-left: auto;
  margin-right: auto

}
li {
  list-style: none;
}

body {
  font-family: 'source code pro', monospace;
  background: url("./fotos/fundo1.jpeg") no-repeat top center ;
  background-attachment: fixed;
  background-size:cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #aeaeae;
}

.title {
  font-size: 36px;
  font-weight: normal;
}  

.box {
  background: #334756;
  padding: 1rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  text-align: center;
  height: auto;
  width: 370px;
  

}
.profile-pic{
  border-radius: 48%;
  margin-bottom: 2em;
  
  

}

.profile span{
  font-size: 24px;

}

.profile p{
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 4rem;

}

.redes-sociais{
  display: flex;
  justify-content: center;
  


}

.redes-sociais li {
  margin-right: 2rem;
  margin-left: auto;
  margin-block: -30px;
  margin-inline: 25px;
  
  
  
}










/*
.rodape{
  padding: 2px 10px;
  background: cadetblue;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: none;
  margin-top: 10px;

}

.rodape li {
  margin-right: 2rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: ;


}
*/


